<nav id = "header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
            <div class="text-white">Proyecto 2 MIA</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
             <a class="nav-link" routerLink="/home-admin" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/crud-usuarios" routerLinkActive="active">Crud Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cargaMasiva" routerLinkActive="active">Carga Masiva</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/crearCategoria" routerLinkActive="active">Crear categoria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/crearProducto" routerLinkActive="active">Crear Producto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/reportes" routerLinkActive="active">Reportes</a>
            </li>          
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Logout</a>
            </li>          
          </ul>
          
        </div>
    </div>
  </nav>
